<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->
<configuration>
    <property name="log.path" value="/data/logs/resin" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <appender name="invoviceChangeAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/vat-invoice/invovice.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.lenovo.invoice.service.impl.InvoiceApiServiceImpl" level="info" additivity="false">
        <appender-ref ref="invoviceChangeAppender" />
    </logger>


    <appender name="initAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/init/init.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.lenovo.invoice.service.impl.init" level="info" additivity="false">
        <appender-ref ref="initAppender" />
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false"/>
    <logger name="org.apache.commons.beanutils" level="WARN" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>