<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://code.alibabatech.com/schema/dubbo
		     http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">


    <!--  dubb配置注册信息分割线  -->
    <dubbo:application name="${dubbo.application.name}" logger="slf4j"/>
    <dubbo:registry address="${dubbo.registry.address}" protocol="${dubbo.registry.protocol}"
                    group="${dubbo.registry.group}"/>

    <dubbo:registry address="${dubbo.registry.address}" protocol="${dubbo.registry.protocol}"
                    group="${dubbo.registry.order.group}" id="order"/>

    <dubbo:protocol port="-1"/>

    <!-- soa服务 -->

    <dubbo:consumer timeout="30000"></dubbo:consumer>
    <!--设置超时时间-->

    <!--换票-->
    <dubbo:service interface="com.lenovo.invoice.api.ExchangeInvoiceService" ref="exchangeInvoiceService"/>
    <dubbo:service interface="com.lenovo.invoice.api.CommonInvoiceService" ref="commonInvoiceService"/>


   <!--17shop发票-->
    <dubbo:service interface="com.lenovo.invoice.api.InvoiceShopApiService" ref="invoiceShopApiService"/>
    <!--官网增票-->
    <dubbo:service interface="com.lenovo.invoice.api.InvoiceApiService" ref="invoiceApiService"/>
    <!--合同管理-->
    <dubbo:service interface="com.lenovo.invoice.api.ContractApiService" ref="contractApiService"/>
    <!--收票地址管理-->
    <dubbo:service interface="com.lenovo.invoice.api.ConsigneeApiService" ref="consigneeApiService"/>
    <!--订单 票-->
    <dubbo:service interface="com.lenovo.invoice.api.OrderInvoiceApiService" ref="orderInvoiceApiService"/>

    <!-- 门店-->
    <dubbo:reference interface="com.lenovo.m2.stock.soa.api.service.StoreInfoApiService" id="storeInfoApiService"/>

    <dubbo:reference interface="com.lenovo.m2.ordercenter.soa.api.vat.VatApiOrderCenter" id="vatApiOrderCenter" registry="order"/>
    <!--合同详细接口-->
    <dubbo:reference id="orderApiService"
                     interface="com.lenovo.my.api.OrderApiService"
                     timeout="100000"    check="false"/>

    <!--订单接口-->
    <dubbo:reference id="orderDetailService"
                     interface="com.lenovo.m2.ordercenter.soa.api.query.order.OrderDetailService"
                     timeout="100000"    check="false"/>
   
    <dubbo:reference id="orderInvoiceService"
                     interface="com.lenovo.m2.buy.order.middleware.api.OrderInvoiceService"
                     timeout="100000"    check="false"/>

    <!--地址库老接口-->
    <!--<dubbo:reference id="consigneeAddressService" interface="com.lenovo.m2.buy.order.address.api.ConsigneeAddressService" timeout="100000" check="false" version="1.0.0"/>
    <dubbo:reference id="areaAddressService" interface="com.lenovo.m2.buy.order.address.api.AreaAddressService" timeout="100000" check="false" version="1.0.0"/>-->

    <!--地址库新接口-->
    <dubbo:reference id="addressService" interface="com.lenovo.m2.address.soa.api.AddressService" timeout="100000" check="false"/>
</beans>
