<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-lazy-init="false">

    <!--消费-->
    <bean id="kafkaConsumerOptions_product" class="com.lenovo.kafka.api.core.factory.KafkaConsumerOptions">
        <property name="connectionZk" value="${connectionZk}" />
        <property name="groupName" value="${groupName}" />
        <property name="zkSessionTimeout" value="${zkSessionTimeout}" />
        <property name="zkSyncTime" value="${zkSyncTime}" />
        <property name="autoCommitInterval" value="${autoCommitInterval}" />
        <property name="rebalanceBackOff" value="${rebalanceBackOff}" />
        <property name="rebalanceMaxRetries" value="${rebalanceMaxRetries}" />
        <property name="autoOffsetReset" value="${autoOffsetReset}" />
        <property name="topicName" value="${product.topicName}" />
    </bean>
    <bean id="kafkaConsumerFactory_product" class="com.lenovo.kafka.api.core.factory.KafkaConsumerFactory"
          init-method="initialize">
        <constructor-arg ref="kafkaConsumerOptions_product" />
    </bean>
    <bean id="kafkaConsumer_product" class="com.lenovo.kafka.api.core.consumer.KafkaConsumer">
        <constructor-arg ref="kafkaConsumerFactory_product" />
    </bean>
    <bean id="contractOrderMessageCustomer" class="com.lenovo.invoice.service.message.ContractOrderMessageCustomer">
        <constructor-arg ref="kafkaConsumer_product"/>
        <constructor-arg ref="contractService"/>
    </bean>

    <!--消费-->
    <bean id="kafkaConsumerOptions_order" class="com.lenovo.kafka.api.core.factory.KafkaConsumerOptions">
        <property name="connectionZk" value="${connectionZk}" />
        <property name="groupName" value="${groupName}" />
        <property name="zkSessionTimeout" value="${zkSessionTimeout}" />
        <property name="zkSyncTime" value="${zkSyncTime}" />
        <property name="autoCommitInterval" value="${autoCommitInterval}" />
        <property name="rebalanceBackOff" value="${rebalanceBackOff}" />
        <property name="rebalanceMaxRetries" value="${rebalanceMaxRetries}" />
        <property name="autoOffsetReset" value="${autoOffsetReset}" />
        <property name="topicName" value="${order.topicName}" />
    </bean>
    <bean id="kafkaConsumerFactory_order" class="com.lenovo.kafka.api.core.factory.KafkaConsumerFactory"
          init-method="initialize">
        <constructor-arg ref="kafkaConsumerOptions_order" />
    </bean>
    <bean id="kafkaConsumer_order" class="com.lenovo.kafka.api.core.consumer.KafkaConsumer">
        <constructor-arg ref="kafkaConsumerFactory_order" />
    </bean>

    <!--是否可抛送增票 订单推送-->
    <bean id="kafkaConsumerOptions_order_throwStatus" class="com.lenovo.kafka.api.core.factory.KafkaConsumerOptions">
        <property name="connectionZk" value="${connectionZk}" />
        <property name="groupName" value="${groupName}" />
        <property name="zkSessionTimeout" value="${zkSessionTimeout}" />
        <property name="zkSyncTime" value="${zkSyncTime}" />
        <property name="autoCommitInterval" value="${autoCommitInterval}" />
        <property name="rebalanceBackOff" value="${rebalanceBackOff}" />
        <property name="rebalanceMaxRetries" value="${rebalanceMaxRetries}" />
        <property name="autoOffsetReset" value="${autoOffsetReset}" />
        <property name="topicName" value="${order.throwStatus.topicName}" />
    </bean>
    <bean id="kafkaConsumerFactory_order_throwStatus" class="com.lenovo.kafka.api.core.factory.KafkaConsumerFactory"
          init-method="initialize">
        <constructor-arg ref="kafkaConsumerOptions_order_throwStatus" />
    </bean>
    <bean id="kafkaConsumer_order_throwStatus" class="com.lenovo.kafka.api.core.consumer.KafkaConsumer">
        <constructor-arg ref="kafkaConsumerFactory_order_throwStatus" />
    </bean>

    <!--订单抛单后 订单推送-->
    <bean id="kafkaConsumerOptions_order_throw" class="com.lenovo.kafka.api.core.factory.KafkaConsumerOptions">
        <property name="connectionZk" value="${connectionZk}" />
        <property name="groupName" value="${groupName}" />
        <property name="zkSessionTimeout" value="${zkSessionTimeout}" />
        <property name="zkSyncTime" value="${zkSyncTime}" />
        <property name="autoCommitInterval" value="${autoCommitInterval}" />
        <property name="rebalanceBackOff" value="${rebalanceBackOff}" />
        <property name="rebalanceMaxRetries" value="${rebalanceMaxRetries}" />
        <property name="autoOffsetReset" value="${autoOffsetReset}" />
        <property name="topicName" value="${order.throw.topicName}" />
    </bean>
    <bean id="kafkaConsumerFactory_order_throw" class="com.lenovo.kafka.api.core.factory.KafkaConsumerFactory"
          init-method="initialize">
        <constructor-arg ref="kafkaConsumerOptions_order_throw" />
    </bean>
    <bean id="kafkaConsumer_order_throw" class="com.lenovo.kafka.api.core.consumer.KafkaConsumer">
        <constructor-arg ref="kafkaConsumerFactory_order_throw" />
    </bean>



    <!--订单发货后 订单推送-->
    <bean id="kafkaConsumerOptions_order_deliver" class="com.lenovo.kafka.api.core.factory.KafkaConsumerOptions">
        <property name="connectionZk" value="${connectionZk}" />
        <property name="groupName" value="${groupName}" />
        <property name="zkSessionTimeout" value="${zkSessionTimeout}" />
        <property name="zkSyncTime" value="${zkSyncTime}" />
        <property name="autoCommitInterval" value="${autoCommitInterval}" />
        <property name="rebalanceBackOff" value="${rebalanceBackOff}" />
        <property name="rebalanceMaxRetries" value="${rebalanceMaxRetries}" />
        <property name="autoOffsetReset" value="${autoOffsetReset}" />
        <property name="topicName" value="${order.deliver.topicName}" />
    </bean>
    <bean id="kafkaConsumerFactory_order_deliver" class="com.lenovo.kafka.api.core.factory.KafkaConsumerFactory"
          init-method="initialize">
        <constructor-arg ref="kafkaConsumerOptions_order_deliver" />
    </bean>
    <bean id="kafkaConsumer_order_deliver" class="com.lenovo.kafka.api.core.consumer.KafkaConsumer">
        <constructor-arg ref="kafkaConsumerFactory_order_deliver" />
    </bean>

    <bean id="throwStatusMessageCustomer" class="com.lenovo.invoice.service.message.ThrowStatusMessageCustomer">
        <constructor-arg ref="kafkaConsumer_order_throwStatus"/>
        <constructor-arg ref="vatInvoiceService"/>
    </bean>


    <bean id="throwOrderVatInvoiceMessageCustomer" class="com.lenovo.invoice.service.message.ThrowOrderVatInvoiceMessageCustomer">
        <constructor-arg ref="kafkaConsumer_order_throw"/>
        <constructor-arg ref="vatInvoiceService"/>
    </bean>

    <bean id="deliverOrderVatInvoiceMessageCustomer" class="com.lenovo.invoice.service.message.DeliverOrderVatInvoiceMessageCustomer">
        <constructor-arg ref="kafkaConsumer_order_deliver"/>
        <constructor-arg ref="vatInvoiceService"/>
    </bean>

    <bean id="paidOrderVatInvoiceMessageCustomer" class="com.lenovo.invoice.service.message.PaidOrderVatInvoiceMessageCustomer">
        <constructor-arg ref="kafkaConsumer_order"/>
        <constructor-arg ref="invoiceService"/>
    </bean>
</beans>