<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.CommonInvoiceMapper" >

  <select id="getCommonInvoiceById" parameterType="java.lang.Integer" resultMap="CommonInvoiceResultMap" >
    select id,invoice_title,shopid,createtime,createBy,type,taxNo
    from common_invoice
    where id=#{id}
  </select>

  <delete id="deleteCommonInvoice" parameterType="java.lang.Integer">
    DELETE FROM common_invoice WHERE id=#{id}
  </delete>

  <select id="getCommonInvoiceByTitle" parameterType="com.lenovo.invoice.domain.CommonInvoice" resultMap="CommonInvoiceResultMap">
    select id,invoice_title,shopid,createtime,createBy,type,taxNo
    from common_invoice
    where invoice_title=#{invoiceTitle} AND type=#{type} AND taxNo=#{taxNo}
  </select>

  <resultMap id="CommonInvoiceResultMap" type="com.lenovo.invoice.domain.CommonInvoice">
    <id column="id" property="id"/>
    <result column="invoice_title" property="invoiceTitle"/>
    <result column="shopid" property="shopid"/>
    <result column="createtime" property="createtime"/>
    <result column="createBy" property="createBy"/>
    <result column="type" property="type"/>
    <result column="taxNo" property="taxNo"/>
  </resultMap>
  
  <insert id="addCommonInvoice" parameterType="com.lenovo.invoice.domain.CommonInvoice">

    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT @@IDENTITY
    </selectKey>

    insert into common_invoice (invoice_title,shopid,createtime,createBy,type,taxNO) values (#{invoiceTitle}, #{shopid},now(),#{createBy},#{type},#{taxNo})
  </insert>


  <update id="updateCommonInvoice" parameterType="com.lenovo.invoice.domain.CommonInvoice">
      UPDATE common_invoice SET invoice_title=#{invoiceTitle} WHERE id=#{id}
  </update>

  <!--以下为添加税号后方法。这里只操作普票和电子票-->

  <!--分页查询，后台审核使用-->
  <select id="getInvoiceByPage" parameterType="com.lenovo.invoice.domain.VatInvoice" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE isvalid=1 AND invoiceType IN (1,3) AND custType=1 AND taxNoType IN (1,2) AND isDelete=0 AND ShopId IN (1,3)
    <if test="param2.customername!=null and param2.customername!=''">
      AND CustomerName=#{param2.customername}
    </if>
    <if test="param2.ischeck!=null">
      AND isCheck=#{param2.ischeck}
    </if>
    <if test="param2.taxNoType!=null">
      AND taxNoType=#{param2.taxNoType}
    </if>
    ORDER BY UpdateTime DESC
  </select>

  <!--查询单个发票信息-->
  <select id="getInvoiceById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE Id = #{id} AND isDelete=0
  </select>

  <!--修改发票信息，根据id，只能修改识别码类型，纳税人识别码，公司抬头-->
  <update id="updateInvoice" parameterType="com.lenovo.invoice.domain.VatInvoice">
    UPDATE vatinvoice
    set taxNoType=#{taxNoType},TaxNo=#{taxno},CustomerName=#{customername},UpdateBy=#{updateby},UpdateTime=now(),isCheck=#{ischeck}
    WHERE Id=#{id} AND isDelete=0
  </update>

  <!--审核通过，修改发票状态-->
  <update id="updateInvoiceIsCheck" parameterType="com.lenovo.invoice.domain.VatInvoice">
    UPDATE vatinvoice
    set isCheck=1,checkBy=#{checkBy},checkTime=now(),UpdateTime=now()
    WHERE Id=#{id} AND isDelete=0
  </update>

  <!--订单支付后，将发票修改为有效状态-->
  <update id="updateInvoiceIsValid">
    UPDATE vatinvoice set isvalid=1,UpdateTime=now() WHERE Id=#{id} AND isDelete=0
  </update>

  <!--前台页面，保存发票信息-->
  <insert id="saveInvoice" parameterType="com.lenovo.invoice.domain.VatInvoice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
      SELECT @@IDENTITY
    </selectKey>
    insert into vatinvoice (CustomerName,TaxNo,CreateTime,CreateBy,ShopId,taxNoType,custType,invoiceType,isCheck,isvalid,UpdateTime)
    values (#{customername},#{taxno},now(),#{createby},#{shopid},#{taxNoType},#{custType},#{invoiceType},#{ischeck},#{isvalid},now())
  </insert>

  <!--前台页面根据发票抬头带出发票信息，必须是已审核的-->
  <select id="getInvoiceByTitle" parameterType="com.lenovo.invoice.domain.VatInvoice" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE CustomerName=#{customername} AND isCheck=1 AND custType=1 AND invoiceType IN (1,3) AND isDelete=0
    <choose>
      <when test="shopid==1 or shopid==3">
        AND ShopId IN (1,3)
      </when>
      <otherwise>
        AND ShopId=#{shopid}
      </otherwise>
    </choose>
  </select>

  <!--根据发票抬头，税号，开票方式和发票类型查询，用于判断发票是否已存在-->
  <select id="invoiceIsExist" parameterType="com.lenovo.invoice.domain.VatInvoice" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE CustomerName=#{customername} AND custType=#{custType} AND invoiceType IN (1,3) AND isDelete=0
    <choose>
      <when test="taxno!=null and taxno!=''">
        AND TaxNo=#{taxno}
      </when>
      <otherwise>
        AND TaxNo IS NULL
      </otherwise>
    </choose>
    <if test="ischeck!=null">
      AND isCheck=#{ischeck}
    </if>
    <choose>
      <when test="shopid==1 or shopid==3">
        AND ShopId IN (1,3)
      </when>
      <otherwise>
        AND ShopId=#{shopid}
      </otherwise>
    </choose>
  </select>

  <!--根据发票抬头，判断是否有已审核过得该抬头-->
  <select id="invoiceTitleIsExist" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE CustomerName=#{customername} AND invoiceType IN (1,3) AND custType=1 AND taxNoType IN (1,2) AND isDelete=0 AND isCheck=1
  </select>

  <!--根据发票税号，判断是否有已审核过的该税号-->
  <select id="invoiceTaxNoIsExist" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE TaxNo=#{taxno} AND invoiceType IN (1,3) AND isDelete=0 AND custType=1 AND taxNoType IN (1,2) AND isCheck=1
  </select>

  <!--查询该抬头的所有未审核发票-->
  <select id="getAllInvoiceByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM vatinvoice
    WHERE CustomerName=#{customername} AND invoiceType IN (1,3) AND isDelete=0 AND isCheck=0 AND ShopId IN (1,3)
  </select>

  <!--伪删除这张票-->
  <update id="deleteInvoice" parameterType="java.lang.Long">
    UPDATE vatinvoice set isDelete=1,UpdateTime=now() WHERE Id=#{id}
  </update>

  <!--伪删除还原发票-->
  <update id="rollbackDeleteInvoice" parameterType="java.lang.Long">
    UPDATE vatinvoice set isDelete=0,UpdateTime=now() WHERE Id=#{id}
  </update>


  <resultMap id="BaseResultMap" type="com.lenovo.invoice.domain.VatInvoice" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="CustomerName" property="customername" jdbcType="VARCHAR" />
    <result column="TaxNo" property="taxno" jdbcType="VARCHAR" />
    <result column="BankName" property="bankname" jdbcType="VARCHAR" />
    <result column="AccountNo" property="accountno" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="BTCPSO" property="btcpso" jdbcType="VARCHAR" />
    <result column="isCheck" property="ischeck" jdbcType="BIT" />
    <result column="IsThrowing" property="isthrowing" jdbcType="BIT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="IsShared" property="isshared" jdbcType="BIT" />
    <result column="IsNeedMerge" property="isNeedMerge" jdbcType="BIT" />
    <result column="ShopId" property="shopid" jdbcType="INTEGER" />
    <result column="ShardedBy" property="shardedby" jdbcType="VARCHAR" />
    <result column="ShardedTime" property="shardedtime" jdbcType="TIMESTAMP" />
    <result column="faid" property="faid"/>
    <result column="storesid" property="storesid"/>
    <result column="type" property="type"/>
    <result column="isvalid" property="isvalid" jdbcType="BIT" />
    <result column="taxNoType" property="taxNoType" jdbcType="BIT" />
    <result column="custType" property="custType" jdbcType="BIT" />
    <result column="invoiceType" property="invoiceType" jdbcType="BIT" />
    <result column="checkBy" property="checkBy" jdbcType="VARCHAR" />
    <result column="checkTime" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>

  <sql id="Base_Column_List" >
    Id, CustomerName, TaxNo, BankName, AccountNo, Address, PhoneNo, BTCPSO, isCheck,
    IsThrowing, CreateTime, CreateBy, UpdateTime, UpdateBy, IsShared, isNeedMerge, ShopId,
    ShardedBy, ShardedTime,faid,storesid,type,isvalid,taxNoType,custType,invoiceType,checkBy,checkTime,remark,isDelete
  </sql>

</mapper>