<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.CommonInvoiceMappingMapper" >

  <select id="getCommonInvoiceMapping" parameterType="com.lenovo.invoice.domain.CommonInvoiceMapping" resultMap="CommonInvoiceMappingResultMap" >
    select id,lenovoId,common_invoice_id,shopid,createtime,createBy,type
    from common_invoice_mapping
    where lenovoId=#{lenovoId} AND shopid=#{shopid} AND type=#{type}
    ORDER BY createtime DESC limit 1;
  </select>

  <resultMap id="CommonInvoiceMappingResultMap" type="com.lenovo.invoice.domain.CommonInvoiceMapping">
    <id column="id" property="id"/>
    <result column="lenovoId" property="lenovoId"/>
    <result column="common_invoice_id" property="commonInvoiceId"/>
    <result column="shopid" property="shopid"/>
    <result column="createtime" property="createtime"/>
    <result column="createBy" property="createBy"/>
    <result column="type" property="type"/>
  </resultMap>
  
  <insert id="addCommonInvoiceMapping" parameterType="com.lenovo.invoice.domain.CommonInvoiceMapping">
    insert into common_invoice_mapping (lenovoId,common_invoice_id,shopid,createtime,createBy,type) values (#{lenovoId},#{commonInvoiceId},#{shopid},#{createtime},#{createBy},#{type})
  </insert>

</mapper>