<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.CommonInvoiceMapper" >

  <select id="getCommonInvoiceById" parameterType="java.lang.Integer" resultMap="CommonInvoiceResultMap" >
    select id,invoice_title,shopid,createtime,createBy,type,taxNo
    from common_invoice
    where id=#{id}
  </select>

  <delete id="deleteCommonInvoice" parameterType="java.lang.Integer">
    DELETE FROM common_invoice WHERE id=#{id}
  </delete>

  <select id="getCommonInvoiceByTitle" parameterType="com.lenovo.invoice.domain.CommonInvoice" resultMap="CommonInvoiceResultMap">
    select id,invoice_title,shopid,createtime,createBy,type,taxNo
    from common_invoice
    where invoice_title=#{invoiceTitle} AND type=#{type} AND taxNo=#{taxNo}
  </select>

  <resultMap id="CommonInvoiceResultMap" type="com.lenovo.invoice.domain.CommonInvoice">
    <id column="id" property="id"/>
    <result column="invoice_title" property="invoiceTitle"/>
    <result column="shopid" property="shopid"/>
    <result column="createtime" property="createtime"/>
    <result column="createBy" property="createBy"/>
    <result column="type" property="type"/>
    <result column="taxNo" property="taxNo"/>
  </resultMap>
  
  <insert id="addCommonInvoice" parameterType="com.lenovo.invoice.domain.CommonInvoice">

    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT @@IDENTITY
    </selectKey>

    insert into common_invoice (invoice_title,shopid,createtime,createBy,type,taxNO) values (#{invoiceTitle}, #{shopid},now(),#{createBy},#{type},#{taxNo})
  </insert>


  <update id="updateCommonInvoice" parameterType="com.lenovo.invoice.domain.CommonInvoice">
      UPDATE common_invoice SET invoice_title=#{invoiceTitle} WHERE id=#{id}
  </update>

</mapper>