<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.lenovo.invoice.domain.Contract" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="takeffect_time" property="takeffectTime" jdbcType="TIMESTAMP" />
    <result column="ship_name" property="shipName" jdbcType="VARCHAR" />
    <result column="ship_mobile" property="shipMobile" jdbcType="VARCHAR" />
    <result column="ship_address" property="shipAddress" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lenovo_id" property="lenovoId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="issend" property="issend" jdbcType="BIT" />
    <result column="migration_type" property="migrationType" jdbcType="BIT" />
  </resultMap>

  <sql id="queryContract" >
    <if test="id != null" >
       and #{id,jdbcType=BIGINT}
    </if>
    <if test="contractNo != null" >
      and #{contractNo,jdbcType=VARCHAR}
    </if>
    <if test="buyerName != null" >
      and #{buyerName,jdbcType=VARCHAR}
    </if>
    <if test="shipName != null" >
      and #{shipName,jdbcType=VARCHAR}
    </if>
    <if test="shipMobile != null" >
      and #{shipMobile,jdbcType=VARCHAR}
    </if>
    <if test="shipAddress != null" >
      and #{shipAddress,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="takeffectTime != null" >
      and #{takeffectTime,jdbcType=TIMESTAMP}
    </if>
    <if test="lenovoId != null" >
      and #{lenovoId,jdbcType=VARCHAR}
    </if>
    <if test="issend != null" >
      and #{issend,jdbcType=BIT}
    </if>
  </sql>


  <select id="getContractCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1) from contract
    WHERE issend=1 and lenovo_id=#{lenovoId}
    <if test="contractNo != null" >
       and contract_no= #{contractNo}
    </if>
  </select>

  <select id="getContractPage" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List" /> from contract
    WHERE issend=1 and lenovo_id=#{lenovoId}
    <if test="contractNo != null" >
       and contract_no= #{contractNo}
    </if>
    ORDER BY takeffect_time DESC limit ${pageIndex},${pageSize}
  </select>


  <select id="getContractInfo" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from contract
    where lenovo_id=#{lenovoId} and contract_no=#{cId}
  </select>


  <sql id="Base_Column_List" >

    id, contract_no, buyer_name, ship_name, ship_mobile, ship_address, create_time, lenovo_id, url,takeffect_time,
    issend,order_code,migration_type
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >

    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >

    delete from contract
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertContractInfo" parameterType="com.lenovo.invoice.domain.Contract" >
    insert into contract (contract_no, buyer_name,
      ship_name, ship_mobile, ship_address,takeffect_time,
      create_time, lenovo_id, issend,order_code
      )
    values (#{contractNo,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR},
      #{shipName,jdbcType=VARCHAR}, #{shipMobile,jdbcType=VARCHAR}, #{shipAddress,jdbcType=VARCHAR}, 
      #{takeffectTime,jdbcType=TIMESTAMP},now(), #{lenovoId,jdbcType=VARCHAR}, #{issend,jdbcType=BIT}, #{orderCode,jdbcType=VARCHAR}
      )
  </insert>


  <update id="updateContractInfo" parameterType="com.lenovo.invoice.domain.Contract" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update contract
    <set >
      <if test="contractNo != null" >
        contract_no = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null" >
        ship_name = #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="shipMobile != null" >
        ship_mobile = #{shipMobile,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null" >
        ship_address = #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="takeffectTime != null" >
        takeffect_time = #{takeffectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lenovoId != null" >
        lenovo_id = #{lenovoId,jdbcType=VARCHAR},
      </if>
      <if test="issend != null" >
        issend = #{issend,jdbcType=BIT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.invoice.domain.Contract" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update contract
    set contract_no = #{contractNo,jdbcType=VARCHAR},
    buyer_name = #{buyerName,jdbcType=VARCHAR},
      ship_name = #{shipName,jdbcType=VARCHAR},
      ship_mobile = #{shipMobile,jdbcType=VARCHAR},
      ship_address = #{shipAddress,jdbcType=VARCHAR},
    takeffect_time = #{takeffectTime,jdbcType=TIMESTAMP},
      lenovo_id = #{lenovoId,jdbcType=VARCHAR},
      issend = #{issend,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>