<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.InvoiceOrderMapper" >

  <insert id="addInvoiceOrder" parameterType="com.lenovo.invoice.domain.InvoiceOrder">
    insert into invoice_order (orderCode,invoiceId,invoiceTitle,taxNo,custType,invoiceType,taxNoType,
                          memberCode,name,mobile,address,zip,createBy,createTime,updateBy,updateTime)
    values (#{orderCode},#{invoiceId},#{invoiceTitle},#{taxNo},#{custType},#{invoiceType},#{taxNoType},
                      #{memberCode},#{name},#{mobile},#{address},#{zip},#{createBy},now(),#{updateBy},now())
  </insert>

  <select id="getOrderIds" parameterType="java.lang.Long" resultType="com.lenovo.invoice.domain.InvoiceOrder">
    SELECT id,orderCode,invoiceId,invoiceTitle,taxNo,custType,invoiceType,taxNoType,
          memberCode,name,mobile,address,zip,createBy,createTime,updateBy,updateTime
    FROM invoice_order
    WHERE invoiceId=#{invoiceId}
  </select>

</mapper>