<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.VathrowBtcpMapper" >
  <resultMap id="BaseResultMap" type="com.lenovo.invoice.domain.VathrowBtcp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="TaxpayerIdentity" property="taxpayeridentity" jdbcType="VARCHAR" />
    <result column="DepositBank" property="depositbank" jdbcType="VARCHAR" />
    <result column="BankNo" property="bankno" jdbcType="VARCHAR" />
    <result column="RegisterAddress" property="registeraddress" jdbcType="VARCHAR" />
    <result column="RegisterPhone" property="registerphone" jdbcType="VARCHAR" />
    <result column="OutId" property="outid" jdbcType="VARCHAR" />
    <result column="MemberCode" property="membercode" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ProvinceId" property="provinceid" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="County" property="county" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Zip" property="zip" jdbcType="VARCHAR" />
    <result column="OrderCode" property="orderCode" jdbcType="VARCHAR" />
    <result column="zid" property="zid" jdbcType="VARCHAR" />
    <result column="ThrowResult" property="throwResult" jdbcType="VARCHAR" />
    <result column="IsNeedMerge" property="isneedmerge" jdbcType="BIT" />
    <result column="ThrowingStatus" property="throwingStatus" jdbcType="BIT" />
    <result column="OrderStatus" property="orderStatus" jdbcType="BIT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    ID, Title, TaxpayerIdentity, DepositBank, BankNo, RegisterAddress, RegisterPhone, 
    OutId, MemberCode, Name, ProvinceId, City, County, Address, Phone, Zip, IsNeedMerge,
    ThrowingStatus,zid,OrderCode,OrderStatus,ThrowResult
  </sql>

  <select id="getVatInvoice2BtcpList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vathrowbtcp
    where zid=#{zid} and OrderStatus=3 and ThrowingStatus in(0,4)
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vathrowbtcp
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.lenovo.invoice.domain.VathrowBtcp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into vathrowbtcp (Title, TaxpayerIdentity,
      DepositBank, BankNo, RegisterAddress, 
      RegisterPhone, OutId, MemberCode, 
      Name, ProvinceId, City, 
      County, Address, Phone, 
      Zip, IsNeedMerge, ThrowingStatus,CreateTime,Zid,OrderCode,OrderStatus,ThrowResult
      )
    values (#{title,jdbcType=VARCHAR}, #{taxpayeridentity,jdbcType=VARCHAR},
      #{depositbank,jdbcType=VARCHAR}, #{bankno,jdbcType=VARCHAR}, #{registeraddress,jdbcType=VARCHAR}, 
      #{registerphone,jdbcType=VARCHAR}, #{outid,jdbcType=VARCHAR}, #{membercode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{provinceid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{zip,jdbcType=VARCHAR}, #{isneedmerge,jdbcType=BIT}, #{throwingStatus,jdbcType=BIT},now(),#{zid},#{orderCode},#{orderStatus},#{throwResult}
      )
  </insert>


  <update id="updateByOrderCode">
    update vathrowbtcp
    set ThrowingStatus = #{status},ThrowResult=#{msg} WHERE OrderCode=#{orderCode}
  </update>

  <update id="updateOrderStatus">
    update vathrowbtcp
    set OrderStatus = #{status} WHERE OrderCode=#{orderCode}
  </update>

  <update id="updateThrowingStatus">
    update vathrowbtcp
    set ThrowingStatus = #{status} WHERE OrderCode=#{orderCode}
  </update>



</mapper>