<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.VathrowBtcpMapper" >
  <resultMap id="BaseResultMap" type="com.lenovo.invoice.domain.VathrowBtcp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="TaxpayerIdentity" property="taxpayeridentity" jdbcType="VARCHAR" />
    <result column="DepositBank" property="depositbank" jdbcType="VARCHAR" />
    <result column="BankNo" property="bankno" jdbcType="VARCHAR" />
    <result column="RegisterAddress" property="registeraddress" jdbcType="VARCHAR" />
    <result column="RegisterPhone" property="registerphone" jdbcType="VARCHAR" />
    <result column="OutId" property="outid" jdbcType="VARCHAR" />
    <result column="MemberCode" property="membercode" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ProvinceId" property="provinceid" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="County" property="county" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Zip" property="zip" jdbcType="VARCHAR" />
    <result column="OrderCode" property="orderCode" jdbcType="VARCHAR" />
    <result column="zid" property="zid" jdbcType="VARCHAR" />
    <result column="IsNeedMerge" property="isneedmerge" jdbcType="BIT" />
    <result column="IsThrowing" property="isthrowing" jdbcType="BIT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    ID, Title, TaxpayerIdentity, DepositBank, BankNo, RegisterAddress, RegisterPhone, 
    OutId, MemberCode, Name, ProvinceId, City, County, Address, Phone, Zip, IsNeedMerge, 
    IsThrowing,zid,OrderCode
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from vathrowbtcp
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from vathrowbtcp
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.lenovo.invoice.domain.VathrowBtcp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into vathrowbtcp (Title, TaxpayerIdentity,
      DepositBank, BankNo, RegisterAddress, 
      RegisterPhone, OutId, MemberCode, 
      Name, ProvinceId, City, 
      County, Address, Phone, 
      Zip, IsNeedMerge, IsThrowing,CreateTime,Zid,OrderCode
      )
    values (#{title,jdbcType=VARCHAR}, #{taxpayeridentity,jdbcType=VARCHAR},
      #{depositbank,jdbcType=VARCHAR}, #{bankno,jdbcType=VARCHAR}, #{registeraddress,jdbcType=VARCHAR}, 
      #{registerphone,jdbcType=VARCHAR}, #{outid,jdbcType=VARCHAR}, #{membercode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{provinceid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{zip,jdbcType=VARCHAR}, #{isneedmerge,jdbcType=BIT}, #{isthrowing,jdbcType=BIT},now(),#{zid},#{orderCode}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.invoice.domain.VathrowBtcp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into vathrowbtcp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="taxpayeridentity != null" >
        TaxpayerIdentity,
      </if>
      <if test="depositbank != null" >
        DepositBank,
      </if>
      <if test="bankno != null" >
        BankNo,
      </if>
      <if test="registeraddress != null" >
        RegisterAddress,
      </if>
      <if test="registerphone != null" >
        RegisterPhone,
      </if>
      <if test="outid != null" >
        OutId,
      </if>
      <if test="membercode != null" >
        MemberCode,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="provinceid != null" >
        ProvinceId,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="county != null" >
        County,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="zip != null" >
        Zip,
      </if>
      <if test="isneedmerge != null" >
        IsNeedMerge,
      </if>
      <if test="isthrowing != null" >
        IsThrowing,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="taxpayeridentity != null" >
        #{taxpayeridentity,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="bankno != null" >
        #{bankno,jdbcType=VARCHAR},
      </if>
      <if test="registeraddress != null" >
        #{registeraddress,jdbcType=VARCHAR},
      </if>
      <if test="registerphone != null" >
        #{registerphone,jdbcType=VARCHAR},
      </if>
      <if test="outid != null" >
        #{outid,jdbcType=VARCHAR},
      </if>
      <if test="membercode != null" >
        #{membercode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="isneedmerge != null" >
        #{isneedmerge,jdbcType=BIT},
      </if>
      <if test="isthrowing != null" >
        #{isthrowing,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update vathrowbtcp
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        Title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.taxpayeridentity != null" >
        TaxpayerIdentity = #{record.taxpayeridentity,jdbcType=VARCHAR},
      </if>
      <if test="record.depositbank != null" >
        DepositBank = #{record.depositbank,jdbcType=VARCHAR},
      </if>
      <if test="record.bankno != null" >
        BankNo = #{record.bankno,jdbcType=VARCHAR},
      </if>
      <if test="record.registeraddress != null" >
        RegisterAddress = #{record.registeraddress,jdbcType=VARCHAR},
      </if>
      <if test="record.registerphone != null" >
        RegisterPhone = #{record.registerphone,jdbcType=VARCHAR},
      </if>
      <if test="record.outid != null" >
        OutId = #{record.outid,jdbcType=VARCHAR},
      </if>
      <if test="record.membercode != null" >
        MemberCode = #{record.membercode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceid != null" >
        ProvinceId = #{record.provinceid,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        City = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null" >
        County = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        Address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        Phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.zip != null" >
        Zip = #{record.zip,jdbcType=VARCHAR},
      </if>
      <if test="record.isneedmerge != null" >
        IsNeedMerge = #{record.isneedmerge,jdbcType=BIT},
      </if>
      <if test="record.isthrowing != null" >
        IsThrowing = #{record.isthrowing,jdbcType=BIT},
      </if>
    </set>

  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update vathrowbtcp
    set ID = #{record.id,jdbcType=INTEGER},
      Title = #{record.title,jdbcType=VARCHAR},
      TaxpayerIdentity = #{record.taxpayeridentity,jdbcType=VARCHAR},
      DepositBank = #{record.depositbank,jdbcType=VARCHAR},
      BankNo = #{record.bankno,jdbcType=VARCHAR},
      RegisterAddress = #{record.registeraddress,jdbcType=VARCHAR},
      RegisterPhone = #{record.registerphone,jdbcType=VARCHAR},
      OutId = #{record.outid,jdbcType=VARCHAR},
      MemberCode = #{record.membercode,jdbcType=VARCHAR},
      Name = #{record.name,jdbcType=VARCHAR},
      ProvinceId = #{record.provinceid,jdbcType=VARCHAR},
      City = #{record.city,jdbcType=VARCHAR},
      County = #{record.county,jdbcType=VARCHAR},
      Address = #{record.address,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Zip = #{record.zip,jdbcType=VARCHAR},
      IsNeedMerge = #{record.isneedmerge,jdbcType=BIT},
      IsThrowing = #{record.isthrowing,jdbcType=BIT}

  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.invoice.domain.VathrowBtcp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update vathrowbtcp
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="taxpayeridentity != null" >
        TaxpayerIdentity = #{taxpayeridentity,jdbcType=VARCHAR},
      </if>
      <if test="depositbank != null" >
        DepositBank = #{depositbank,jdbcType=VARCHAR},
      </if>
      <if test="bankno != null" >
        BankNo = #{bankno,jdbcType=VARCHAR},
      </if>
      <if test="registeraddress != null" >
        RegisterAddress = #{registeraddress,jdbcType=VARCHAR},
      </if>
      <if test="registerphone != null" >
        RegisterPhone = #{registerphone,jdbcType=VARCHAR},
      </if>
      <if test="outid != null" >
        OutId = #{outid,jdbcType=VARCHAR},
      </if>
      <if test="membercode != null" >
        MemberCode = #{membercode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        ProvinceId = #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        County = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        Zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="isneedmerge != null" >
        IsNeedMerge = #{isneedmerge,jdbcType=BIT},
      </if>
      <if test="isthrowing != null" >
        IsThrowing = #{isthrowing,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.invoice.domain.VathrowBtcp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update vathrowbtcp
    set Title = #{title,jdbcType=VARCHAR},
      TaxpayerIdentity = #{taxpayeridentity,jdbcType=VARCHAR},
      DepositBank = #{depositbank,jdbcType=VARCHAR},
      BankNo = #{bankno,jdbcType=VARCHAR},
      RegisterAddress = #{registeraddress,jdbcType=VARCHAR},
      RegisterPhone = #{registerphone,jdbcType=VARCHAR},
      OutId = #{outid,jdbcType=VARCHAR},
      MemberCode = #{membercode,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      ProvinceId = #{provinceid,jdbcType=VARCHAR},
      City = #{city,jdbcType=VARCHAR},
      County = #{county,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Zip = #{zip,jdbcType=VARCHAR},
      IsNeedMerge = #{isneedmerge,jdbcType=BIT},
      IsThrowing = #{isthrowing,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>