<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.invoice.dao.VatInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.lenovo.invoice.domain.VatInvoice" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="CustomerName" property="customername" jdbcType="VARCHAR" />
    <result column="TaxNo" property="taxno" jdbcType="VARCHAR" />
    <result column="BankName" property="bankname" jdbcType="VARCHAR" />
    <result column="AccountNo" property="accountno" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="BTCPSO" property="btcpso" jdbcType="VARCHAR" />
    <result column="isCheck" property="ischeck" jdbcType="BIT" />
    <result column="IsThrowing" property="isthrowing" jdbcType="BIT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="IsShared" property="isshared" jdbcType="BIT" />
    <result column="IsNeedMerge" property="isNeedMerge" jdbcType="BIT" />
    <result column="ShopId" property="shopid" jdbcType="INTEGER" />
    <result column="ShardedBy" property="shardedby" jdbcType="VARCHAR" />
    <result column="ShardedTime" property="shardedtime" jdbcType="TIMESTAMP" />
    <result column="faid" property="faid"/>
    <result column="storesid" property="storesid"/>
    <result column="type" property="type"/>
    <result column="isvalid" property="isvalid" jdbcType="BIT" />
  </resultMap>


  <sql id="Base_Column_List" >
    Id, CustomerName, TaxNo, BankName, AccountNo, Address, PhoneNo, BTCPSO, isCheck, 
    IsThrowing, CreateTime, CreateBy, UpdateTime, UpdateBy, IsShared, isNeedMerge, ShopId,
    ShardedBy, ShardedTime,faid,storesid,type,isvalid
  </sql>

  <delete id="deleteVatInvoice" parameterType="java.lang.Long">
    delete from vatinvoice where id=#{id}
  </delete>

  <select id="getVatInvoiceBySelected"  parameterType="com.lenovo.invoice.domain.VatInvoice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vatinvoice
    <where>
      <if test="customername != null" >
        and CustomerName = #{customername,jdbcType=VARCHAR}
      </if>
      <if test="taxno != null" >
        and TaxNo = #{taxno,jdbcType=VARCHAR}
      </if>
      <if test="bankname != null" >
        and BankName = #{bankname,jdbcType=VARCHAR}
      </if>
      <if test="accountno != null" >
        and AccountNo = #{accountno,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        and Address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="phoneno != null" >
        and PhoneNo = #{phoneno,jdbcType=VARCHAR}
      </if>
      <if test=" shopid >0" >
        and ShopId = #{shopid}
      </if>
      <if test="ischeck!=null and ischeck >0" >
        and isCheck = #{ischeck}
      </if>
      <if test="isshared!=null and isshared >0" >
        and IsShared = #{isshared}
      </if>

      <if test="type!=null" >
        and type = #{type}
      </if>
      <if test="faid!=null" >
        and faid = #{faid}
      </if>
      <if test="storesid!=null" >
        and storesid = #{storesid}
      </if>
      <if test="storesid==null" >
        and storesid is NULL
      </if>
    </where>
     ORDER BY CreateTime DESC LIMIT 1
  </select>

  <select id="queryVatInvoiceInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from vatinvoice
    where id IN (${ids})
  </select>


  <select id="getVatInvoiceValidationList" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List" />
      from vatinvoice WHERE id <![CDATA[<>]]> ${vid} and isvalid=1 and invoiceType=2

      <if test="type != null" >
        and type = #{type}
      </if>
      <if test="faid != null" >
        and faid = #{faid}
      </if>
        AND (CustomerName = #{CustomerName} or TaxNo = #{TaxNo})


  </select>

  <select id="getVatInvoiceByZid" resultType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> FROM vatinvoice WHERE id=#{zid} ORDER BY CreateTime LIMIT 1
  </select>

  <select id="getVatInvoice" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from vatinvoice
    <where>
      <if test="customerName != null" >
        and CustomerName = #{customerName,jdbcType=VARCHAR}
      </if>
      <if test="taxNo != null" >
        and TaxNo = #{taxNo,jdbcType=VARCHAR}
      </if>
      <if test="type!=null">
        and type = #{type}
      </if>
    </where>
     and isCheck in (1,2) and IsShared = 1 and invoiceType=2
    ORDER BY CreateTime DESC LIMIT 1
  </select>

  <select id="getVatInvoiceInfo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from vatinvoice WHERE
    type = #{type} and ((CustomerName = #{customerName,jdbcType=VARCHAR} and TaxNo <![CDATA[<>]]> #{taxNo,jdbcType=VARCHAR}) or (CustomerName <![CDATA[<>]]> #{customerName,jdbcType=VARCHAR} and TaxNo = #{taxNo,jdbcType=VARCHAR})) and isCheck in (1,2) and invoiceType=2
    ORDER BY CreateTime DESC LIMIT 1
  </select>

  <select id="getAutoCheckInvoice" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from vatinvoice WHERE invoiceType IN(1,3) AND isCheck=0 AND ShopId IN(1,3) AND custType=1 AND isvalid=1
  </select>

  <select id="getVatInvoiceInfoById" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from vatinvoice
    where id=#{id}
  </select>

  <select id="getInvoiceOwer" resultType="java.lang.String" >
    SELECT LenovoID FROM membervatinvoice WHERE InvoiceInfoId=#{zid} AND shopid=#{shopid} ORDER BY CreateTime LIMIT 1
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vatinvoice
    where Id = #{id,jdbcType=BIGINT}
  </delete>


  <update id="updateVatInvoiceCheckState">
    UPDATE vatinvoice set isCheck=#{state} WHERE id=#{id}
  </update>


  <update id="updateIsvalid">
    UPDATE vatinvoice set isvalid=1 WHERE id=#{zid} and isvalid=0
  </update>

  <update id="updateAutoIsCheck">
    UPDATE vatinvoice set isCheck=#{type} WHERE id=#{id}
  </update>

  <update id="updateVatInvoiceIsvalid">
    UPDATE vatinvoice SET isvalid=1 WHERE id=#{zid} AND isvalid=0 AND shopid=#{shopid}
  </update>

  <insert id="insertVatInvoiceInfo" parameterType="com.lenovo.invoice.domain.VatInvoice" >

    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
      SELECT @@IDENTITY
    </selectKey>

    insert into vatinvoice (CustomerName,
    TaxNo, BankName, AccountNo,
    Address, PhoneNo, CreateTime,
    CreateBy, IsShared,isNeedMerge,ShopId,ShardedBy,ShardedTime,faid,storesid,type)
    values (#{customername,jdbcType=VARCHAR},
    #{taxno,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{accountno,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR}, #{phoneno,jdbcType=VARCHAR},now(),
    #{createby,jdbcType=VARCHAR},
    #{isshared,jdbcType=INTEGER},#{isNeedMerge,jdbcType=INTEGER},
    #{shopid},#{shardedby},#{shardedtime},#{faid},#{storesid},#{type}
    )
  </insert>


  <update id="updateVatInvoice" parameterType="com.lenovo.invoice.domain.VatInvoice" >
    UPDATE vatinvoice set BankName=#{bankname,jdbcType=VARCHAR},
    AccountNo=#{accountno,jdbcType=VARCHAR},
    Address=#{address,jdbcType=VARCHAR},
    PhoneNo=#{phoneno,jdbcType=VARCHAR},
    CreateBy=#{createby,jdbcType=VARCHAR},
    IsShared=#{isshared,jdbcType=INTEGER},
    isNeedMerge=#{isNeedMerge,jdbcType=INTEGER},
    ShardedBy=#{shardedby},
    ShardedTime=#{shardedtime}
    WHERE id=#{id}
  </update>

  <update id="updateVatInvoiceAutoCheck" parameterType="com.lenovo.invoice.domain.VatInvoice" >
    UPDATE vatinvoice set
    TaxNo=#{taxno},
    taxNoType=#{taxNoType},
    checkTime=now(),
    checkBy=#{checkBy}
    WHERE id=#{id}
  </update>

  <select id="countByExample" parameterType="com.lenovo.invoice.domain.VatInvoiceExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from vatinvoice

  </select>

  <update id="updateVatInvoiceBatch" parameterType="com.lenovo.invoice.domain.param.UpdateVatInvoiceBatchParam">
    UPDATE vatinvoice
    set CustomerName=#{customerName},
    TaxNo=#{taxNo},
    BankName=#{bankName},
    AccountNo=#{accountNo},
    Address=#{address},
    PhoneNo=#{phoneNo},
    UpdateTime=now(),
    UpdateBy=#{itcode},
    isCheck=1
    WHERE id = #{ids}
  </update>

  <update id="insertVatInvoiceLogBatch" parameterType="com.lenovo.invoice.domain.param.UpdateVatInvoiceBatchParam">
    INSERT into vatinvoice_log
    (Id,
    CustomerName,
    TaxNo,
    BankName,
    AccountNo,
    Address,
    PhoneNo,
    BTCPSO,
    isCheck,
    IsThrowing,
    CreateTime,
    CreateBy,
    UpdateTime,
    UpdateBy,
    IsShared,
    isNeedMerge)
    select
    Id,
    CustomerName,
    TaxNo,
    BankName,
    AccountNo,
    Address,
    PhoneNo,
    BTCPSO,
    isCheck,
    IsThrowing,
    CreateTime,
    CreateBy,
    now(),
    #{itcode},
    IsShared,
    isNeedMerge
    from vatinvoice WHERE id in (${ids})
  </update>



  <sql id="queryVatInvoice" >
    <if test="ischeck != null and ischeck!=''" >
      AND  isCheck=#{ischeck}
    </if>
    <if test="taxno != null and taxno!=''" >
      AND  TaxNo=#{taxno}
    </if>
    <if test="accountno != null and accountno!=''" >
      AND  AccountNo=#{accountno}
    </if>
    <if test="customername != null and customername!=''" >
      AND  CustomerName LIKE '%${customername}%'
    </if>

    <if test="isshared != null and isshared!=''" >
      AND  IsShared = #{isshared}
    </if>

    <if test="shopid != null and shopid!=''" >
      AND  ShopId = #{shopid}
    </if>

    <if test="ids != null and ids!=''" >
      AND  id in (${ids})
    </if>
  </sql>

  <!--<include refid="Base_Column_List" />-->

  <select id="getVatInvoiceCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1) from vatinvoice
    WHERE 1=1 and AccountNo is not null and faid in(${faid}) and isvalid=1 and invoiceType=2
    <include refid="queryVatInvoice" />
  </select>

  <select id="getVatInvoicePage" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List" /> from vatinvoice
    WHERE 1=1 and AccountNo is not null and faid in(${faid}) and isvalid=1 and invoiceType=2
    <include refid="queryVatInvoice" />
    ORDER BY TaxNo,CustomerName,CreateTime DESC limit ${pageIndex},${pageSize}
  </select>

  <select id="getVatInvoiceList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from vatinvoice
    WHERE id in(${ids})
  </select>


  <update id="updateIsCheck">
    UPDATE vatinvoice
    set isCheck=1
    WHERE id IN (${ids}) and <![CDATA[isCheck<>2]]>
  </update>


  <select id="getExportVatInvoiceList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List" />
    from vatinvoice
    WHERE AccountNo is not null and faid in(${faid})  and invoiceType=2
    <include refid="queryVatInvoice" />
    ORDER BY TaxNo,CustomerName
  </select>


  <select id="getVatInvoiceId" resultMap="BaseResultMap" parameterType="com.lenovo.invoice.domain.VatInvoice">
    select
    <include refid="Base_Column_List" />
    from vatinvoice WHERE CustomerName = #{customername,jdbcType=VARCHAR}
    and TaxNo = #{taxno,jdbcType=VARCHAR} and AccountNo is null  and invoiceType=2
    and ShopId = #{shopid} LIMIT 1
  </select>







</mapper>